{% extends 'inventario/base.html' %}

{% block title %}
  Lista de Productos
{% endblock %}

{% block content %}
  <h1 class="text-2xl font-bold mb-4">Lista de Productos</h1>
  <a href="{% url 'nuevo_producto' %}" class="bg-green-500 text-white px-4 py-2 rounded mb-4 inline-block hover:scale-105 transiiton-all ease-in">Nuevo Producto</a>
  <table class="min-w-full bg-white">
    <thead>
      <tr>
        <th class="py-2 px-4 border-b">Nombre</th>
        <th class="py-2 px-4 border-b">Descripción</th>
        <th class="py-2 px-4 border-b">Precio</th>
        <th class="py-2 px-4 border-b">Cantidad</th>
        <th class="py-2 px-4 border-b">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for producto in productos %}
        <tr>
          <td class="py-2 px-4 border-b">{{ producto.nombre }}</td>
          <td class="py-2 px-4 border-b">{{ producto.descripcion }}</td>
          <td class="py-2 px-4 border-b">{{ producto.precio }}</td>
          <td class="py-2 px-4 border-b">{{ producto.cantidad }}</td>
          <td class="py-2 px-4 border-b">
            <menu class="flex flex-row gap-2 items-center text-white">
              <a href="{% url 'detalle_producto' producto.id %}" class="bg-blue-500 hover:scale-105 transition-all ease-in px-2 py-1 rounded">Ver</a>
              <a href="{% url 'editar_producto' producto.id %}" class="bg-yellow-500 hover:scale-105 transition-all ease-in px-2 py-1 rounded">Editar</a>
              <a href="{% url 'eliminar_producto' producto.id %}" class="bg-red-500 hover:scale-105 transition-all ease-in px-2 py-1 rounded">Eliminar</a>
            </menu>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}